---
import BlogCard from "@/components/BlogCard.astro";
import FooterLink from "@/components/FooterLink.astro";
import SplitSection from "@/components/SplitSection.astro";
import { getAllBlogPosts } from "@/lib/blog";
import { cn } from "@/lib/utils";

interface Props {
  limit?: number;
  class?: string;
}

const { limit = 3, class: className } = Astro.props;
const allPosts = await getAllBlogPosts();
const recentPosts = allPosts.slice(0, limit);
---

{
  recentPosts.length > 0 && (
    <section class:list={cn("flex flex-col gap-y-6", className)}>
      <SplitSection label="Writing">
        <div class="flex flex-col gap-3">
          {recentPosts.map((post) => (
            <BlogCard post={post} />
          ))}
          <div class="pt-2">
            <FooterLink href="/blog">View all posts</FooterLink>
          </div>
        </div>
      </SplitSection>
    </section>
  )
}
