---
import Tag from "@/components/ui/Tag.astro";
import { getTagHref } from "@/lib/tags";
import { cn } from "@/lib/utils";

interface Props {
  tags: string[];
  class?: string;
  linkClass?: string;
}

const { tags, class: className, linkClass } = Astro.props;
---

{
  tags.length > 0 && (
    <div class:list={cn("flex flex-wrap gap-2", className)}>
      {tags.map((tag) => (
        <Tag label={tag} interactive href={getTagHref(tag)} class:list={linkClass} />
      ))}
    </div>
  )
}
